@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: monospace;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    padding: 20px;
    background: #000;
    border-bottom: 1.5px solid plum;
    position: fixed;
    top: 0;
    z-index: 1;
}

.flex-container{
    display: flex;
    justify-content:space-between;
    width: 100%;
    list-style: none;
}

ul a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
ul a:hover{
    color: rgb(248, 194, 93);
    text-decoration: none;
}

.login{
    border: 1px solid whitesmoke;
    padding: 4px;
    width: 6rem;
    text-align: center;
    border-radius: 5%;
    background-color: skyblue;
    padding: 10px 20px;
}
.login a{
    color: #000;
    font-size: 1rem;
}
.login:hover{
    background-color: rgb(248, 194, 93);
    transition: 0.3s;
}
.login a:hover{
    color: black;
}

.page-content{
    color: black;
    margin-top: 3.5rem;
}

.background {
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url('img/pexels-teddy-2263436.jpg'); /* Replace with your image URL */
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh; /* 35% of the viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.text{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem; /* Adjust size as needed */
    font-weight: bold;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "width" 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7),
                2px -2px 4px rgba(0, 0, 0, 0.7), -2px 2px 4px rgba(0, 0, 0, 0.7);
}

.blue-text{
    color: rgb(58, 195, 249);
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7),
    2px -2px 4px rgba(0, 0, 0, 0.7), -2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 1px rgb(58, 195, 249), 0 0 20px rgb(58, 195, 249), 0 0 80px rgb(62, 199, 253);
    -webkit-text-stroke:  #000;
}
.yellow-text{
    color: rgb(232, 181, 85);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7),
    2px -2px 4px rgba(0, 0, 0, 0.7), -2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 1px rgb(232, 181, 85), 0 0 20px rgb(232, 181, 85), 0 0 80px rgb(232, 181, 85);
}


/* *****************HOME-PAGE CONTENT ****************************** */
main{
    background-color:black;
    line-height: 1.7;
    font-family:monospace;
}
p, h2,li{
    color: white;
    font-size: 1.1rem;
}

p{
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}
ol{
    list-style:none;
    line-height: 2;
    margin: 1.5rem;
}

.list-heading{
    color: rgb(248, 194, 93);
    text-transform: uppercase;
    font-weight: bold;
}

.divider {
    width: 50%; /* Makes the line small */
    height: 2px;
    background-color: rgb(248, 194, 93);
    margin: 20px auto; /* Centers the line */
}


.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #777;
    min-height: 100%;
    
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.typeWriter{
    text-align: center;
    font-size: 3rem;
    color: skyblue;
}

/* ***************************CONTACT-PAGE******************** */
.contact_background {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.598)), url('img/wood-1759566_1280.jpg'); /* Replace with your image URL */
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(51, 51, 51, 0.315);
    padding: 40px;
    border-radius: 8px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: #0078d7;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 118, 215, 0.685);
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background-color: rgb(63, 170, 212);
}